@media screen and (max-width: 768px) {
  background-info: float-left;
}
.portrait {
  padding-left: 30px;
}
.contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.contact-info {
  display: block;
  text-align: center;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
