body {
  background: rgb(85,157,232);
  background: linear-gradient(0deg, rgba(85,157,232,1) 56%, rgba(83,84,85,1) 100%);
}
.portrait {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}
.project-info-text {
  font-size: 10px; 
}
.jumbotron {
  background: rgb(85,85,83);
  background: linear-gradient(0deg, rgba(85,85,83,0.6379326923076922) 0%, rgba(160,200,242,0.7733173076923077) 100%);
}
.portrait {
  padding-left: 30px;
  padding-right: 30px;
}
.card-body {
  background: rgb(85,85,83);
  background: linear-gradient(0deg, rgba(85,85,83,0.6379326923076922) 0%, rgba(160,200,242,0.7733173076923077) 100%);
}
.contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.contact-info {
  display: block;
  text-align: center;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
  margin: 10px;
  border: 3px;
  padding: 20px;
  background-color: rgba(82, 81, 81, 0.733);
}
.proj-goal {
  font-size: 20px;
}
.att-author {
  list-style: none;
  font-size: x-small;
}
.interests {
  color: goldenrod;
  font-weight: bolder;
}
.recent-projects {
  float: left:
}
.card-text {
  font-size: 20px;
}
.background-text {
  font-size: 20px;
}
